<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nx.magicandyoung">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE">

    </uses-permission>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="false"
        android:largeHeap="true"


        >
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.nx.magicandyoung.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <activity
            android:icon="@drawable/logo"
            android:name=".home.Home">

        </activity>
        <activity
            android:icon="@drawable/logo"
            android:name=".InitialPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Register"/>
        <activity android:name=".first.TakePhoto"/>
        <activity android:name=".first.Compress"/>
        <activity android:name=".first.FaceSwap"/>
        <activity android:name=".first.rmWater"/>
        <activity android:name=".first.Beautify" />
        <activity android:name=".Login"/>
        <activity android:name=".home.Geren"/>
        <activity android:name=".home.HelpCenter"/>
        <activity android:name=".home.MyOrder"/>
        <activity android:name=".second.SendMessage"/>
    </application>


</manifest>